.login_page_sec {
  text-align: center;
}
.login_cont {
  max-width: 630px;
  margin: 0 auto;
  z-index: 999999;
}
.logo_wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}
.welcome-logo {
  width: 4.3rem;
  height: auto;
}
.welcome-button{
  display: flex;
    flex-direction: column;
    align-items: center;
 

}
.welcome-button2{
min-height: 3rem !important;
min-width: 330px;
margin-top: 2rem;
text-decoration:none; 

}
a{
  color: none;
}

.login_page_sec .container {
  position: relative;
}
.right_svg_ic {
  position: absolute;
  right: 100px;
}
.left_svg_ic {
  position: absolute;
  left: 140px;
  top: 250px;
}
.login_cont h2 {
  color: #fff;
  font-size: 34px;
  font-weight: bold;
}
.login_cont p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 2rem;
  z-index: 9999;
}
a{

  text-decoration: none !important;
}
.login_page_form {
  max-width: 390px;
  margin: 0 auto;
  position: relative;
  z-index: 11111;
}
.login_page_form .cds--fieldset {
  margin-bottom: 10px;
}
.custom_link p {
  margin-top: 15px;
  color: #c6c6c6;
  font-size: 12px;
  margin-bottom: 20px;
}
.welcome-date-picker-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 16px;
  width: 100% !important;
}
.cds--date-picker{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cds--date-picker--range .cds--date-picker-container {
width: 50%;
}
#date-picker-input-id-start {
  width: 100%;
}
#date-picker-input-id-finish{
  width: 100%;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1540px) {
  .container {
    max-width: 1470px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1640px) {
  .container {
    max-width: 1570px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 1199.98px) {
  .right_svg_ic {
    right: 0;
  }
  .left_svg_ic {
    left: 0;
    top: 200px;
  }
  .login_cont {
    position: relative;
    z-index: 999999;
  }
  .container {
    padding: 0 15px;
  }
  .waves-container {
    display: none;
  }
  .custom_link p {
    margin-bottom: 0;
    padding-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .left_svg_ic {
    left: 0;
    top: 120px;
  }
  .login_cont {
    max-width: 440px;
    z-index: 999999;
  }
  .login_cont p {
    font-size: 16px;
    line-height: 02;
    font-weight: 600;
    margin: 30px 0;
    z-index: 999999;
  }
}