.ant-tabs.ant-tabs-top.ant-tabs-mobile.css-dev-only-do-not-override-15rg2km {
    width: 100%;
}
.tabs-slider-arrows button {
    height: 40px;
    width: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: solid 1px #393939 !important;
}
.prev_btn span{
    border-top: 5px solid transparent !important;
    border-right: 5px solid white !important;
    border-bottom: 5px solid transparent !important;
    font-size: 0 !important;
    height: 0;
    width: 0 !important;
}
.next_btn span{
    border-top: 5px solid transparent !important;
    border-left: 5px solid white !important;
    border-bottom: 5px solid transparent !important;
    font-size: 0 !important;
    height: 0;
    width: 0 !important;
}
.ant-tabs.ant-tabs-top.css-dev-only-do-not-override-15rg2km {
    width: 100%;
}