.household_form_cont.car_form .input-group {
    align-items: center;
  }
  .household_form_cont.car_form .input-group label {
    padding: 0 15px;
  }
  .household_form_cont.car_form label + .cds--form-item.house-block-middle-form.cds--text-input-wrapper {
    flex: 0 0 60%;
    max-width: 60%;
  }

.car_label span {
    border: solid 1px #7fe0a4;
    border-radius: 20px;
    padding: 10px 15px;
    display: inline-flex;
    background: #7fe0a4;
    font-size: 12px;
    font-weight: bold;
    color: #161616;
    margin-bottom: 20px;
  }
  .status_main_cls {
    margin-top: 20px;
  }
  .car_inner_form {
    border: solid 1px #707070;
    padding: 20px;
    border-radius: 0;
    margin-top: 15px;
  }
.household_form_cont.car_form {
    max-width: 380px;
}
.input-group.car_inner_cls {
    max-width: 280px;
}
.slick-current {transform: scale(1) !important;}

.slick-slide{
  width: 400px;
}
.slick-slide:not(.slick-current) {
    opacity: 0.5;
    transform: scale(0.9) !important;
}
.slick-slide.slick-active.slick-current {
    padding-right: 15px;
}
button.slick-arrow.slick-next {
    position: absolute;
    right: 63.2%;
    font-size: 0 !important;
}

button.slick-arrow.slick-prev {
    position: absolute;
    font-size: 0 !important;
    left: -50px;
}
.car_page_sec.household_form_cont.car_form {
    max-width: 100%;
}
.slick-slider button.slick-arrow {
    opacity: 1 !important;
}
@media (max-width:1399px) {
    .slick-slide.slick-active.slick-current {
        padding-right: 15px;
        padding-left: 35px;
    }
    button.slick-arrow.slick-prev {
        left: -20px;
    }
    button.slick-arrow.slick-next {
        right: 45%;
     }
}
@media (max-width:1199px) {
  .cds--content {
      height: 100vh;
  }
  .household-right-sidebar h3 {
      font-size: 28px;
  }
  
}
@media (max-width:991.98px) {
  button.slick-arrow.slick-next {
    right: 46%;
  }
}
@media (max-width:767.98px){
  .slick-slide.slick-active.slick-current {
      padding-right: 15px;
      padding-left: 15px;
  }
  .car_inner_form {
    padding: 15px;
  }
  button.slick-arrow.slick-next {
      right: -15px;
  }
  button.slick-arrow.slick-prev {
      left: -15px;
  }
}
