//@import "node_modules/carbon-components/scss/globals/scss/styles";
.container-nav{
    display: flex;
    flex-direction: row;
    justify-content: right ;
    height: 3rem;
    //background-color: aqua;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.logo_inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    //background-color: antiquewhite;
    width: 350px;
    height: 3rem;
    margin-left: 10%;
  
}
.logo-name-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 3rem;
 
}
.progress-bar-container{
    max-width: 50vw;
    min-width: 33%;
    min-height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    //background-color: rgb(228, 119, 119);
}
.results-visualizations-container{
    max-width: 50vw;
    width: 40%;
    //background-color: rgb(106, 138, 139);
    border-bottom: 1px solid rgba(255, 255, 255, 0.448);
   
}
.progress-bar-container a{
    color: #fff;
}
.fixed-navigation{
 
    top: 10;
    left: 0;
    right: 0;
    z-index: 100;
}
.active {
    color: rgb(255, 255, 255); 
  }
.icons-Class{
    color: #C9C9C9;
}
.icons-logo{
    width: 2rem;
    height: auto;
    margin-right: 1rem;
}

@media (max-width:800px) {
    .icons-logo{
        display: none;
    }
  }

  .tabs-slider-tabs {
   width: 50vw;
}