.household_form_cont{
   
    margin: 0;
    padding: 1rem;
   padding-left:80px ;
   padding-top: 120px;
    height: 600px;
    width: fit-content;
    //background-color: rgba(0, 0, 0, 0.455);
}
.no-buttons .cds--number__controls {
    display: none;
  }
.input-group{
    display: flex;
    flex-direction: column;
}
  