////////////////////////////MAIN CONTAINER//////////////////////////////
.landin-main-container{
    width: 100%;
}
//////////////////////////// HEADER ///////////////////////////////////
.landing-header-container{
    display: flex;
    flex-direction: row;
    align-items: top;
    margin-left: 1rem;

}
.landing-logo{
    width: 3rem;
    height: 3rem;
    margin-top: 0.4rem;
}
.landing-header{
    padding-top: 1rem;
    //background-color: #F4F4F4;
}
.landing-little-title{
    text-decoration: none;
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 14px;
    color: var(--verde);
}
.landing-title{
    padding-bottom: 11rem;
    padding-left: 1.5rem;
    //color: black;
    position: relative;
}

.landing-tablist{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -2.5rem;
    padding-right: 16px;


}   

.landing-tab{
    width: 128px;


}
.landing-tiles-questions{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    justify-content: center;
    height: 3rem;
}
.tileOuter p {
    text-align:center;
    font-size: 16px;
}
//////////////////////////// TABS ///////////////////////////////////
.landing-container{
    display: flex;
    flex-direction: row;
    //background-color: aquamarine;
    border: 2px solid rgba(210, 210, 210, 0.345);
    height: 380px;
}
.landing-tabpanel-left{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 50%;
    //background-color: blue;
    margin-top: 16px;
    padding-left: 2rem;
}
.landing-knowfootprint-container{
    width: 100%;
    padding-top: 16px;
    padding: 16px;
    background-color: black;
}
.landing-tabpanel-middle{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 100%;
    //background-color: blue;
    padding-left: 2rem;
    padding: 2rem;
    border: 2px solid gray;
}
.landing-number-input{
    z-index: 999999;
}
.global-buttons-link-back-and-forth {
    height: 50px;
    width: 160px;
    margin-top: 40px;
}
.landing-tabpanel-right .cds--skeleton__placeholder{
    width: 100%;
    height: 100%;
}
.landing-tabpanel-left .cds--skeleton__text {
    margin-bottom: 12px;
}
.landing-tabpanel-left .cds--skeleton__text:nth-child(1){
    margin-bottom: 24px !important;
}
.landing-title-question{
    font-size: 20px;
    margin-bottom: 24px;
    //color: fuchsia;
}
.landing-paragraph-question{
    // padding-left: 2rem;
    margin-bottom: 40px;
    margin-right: 40px;
}
.landing-tabpanel-right {
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--verde50);
  }
.newdiv{
    width: 100%;
    height: 100%;
}
.landing-footer-tiles{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.landing-tite-title{
    margin-top: 40px;
    margin-bottom: 40px;
   
   margin-right: 40px;
}
.landing-tile{
    height: 30rem;
    border-right: 1px solid grey;
    //background-color: rgba(0, 30, 255, 0.357);
    padding: 0;
    padding-left: 12px;
    padding-right: 40p;
}
.landing-tile1{
    width: 25%;

    //  background-color: aquamarine;
    padding: 0;
}
.landing-tile1 .tileOuter{
    min-height: 500px;
    padding-left: 2rem !important;
    padding: 1rem;
    padding-right: 40px;
    border-right: 1px solid var(--verde50);
}

.landing-button{
    width: 10rem;
    margin: 0;
    padding: 15px;
    // margin-left: 2rem;
}
.landing-button:hover{
    border: 2px solid var(--verde) ;
    background-color: transparent;
    color: white;
}
.placeholderMobile {
    display: none;
}
.headerPlac {
    padding-left: 1.5rem;
    width: 100%;
    height: 242.34px;
}
.footerPlac {
    width: 100%;
    height: 500px;
    border-right: 1px solid grey;
}
.landing-tile1:last-child .footerPlac {
    border: none !important;
}
.mainSection {
    width: 100%;
    height: 580px;
}
.cds--modal-content {
    padding: 30px;
    margin: 0;
}
.cds--modal-content.customBody {
    padding: 0;
    padding-top: 30px;
    margin: 0;
}
.personalDetailModal .cds--modal-header{
    padding: 0;
    margin: 0;
}
.personalDetailModal .cds--form-item.cds--text-input-wrapper:first-child {
    margin: 0;
}
.personalDetailModal .cds--form-item.cds--text-input-wrapper {
    margin-top: 24px;
}
.personalDetailModal button.customBtn{
    padding: 10px 24px !important;
}
.personalDetailModal .landing-tiles-questions{
    text-align: end;
}

.cds--tabs__nav-item--selected {
    border-bottom: 2px solid var(--verde) !important;
    transition: color 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
}
///////////////////////////RESPONSIVE///////////////////////
@media (max-width: 1100px) {
    .landing-header-container{
        display: flex;
        flex-direction: row;
        margin-left: 0;
    
    }
    .landing-logo{
   display: none;
    }

    .landing-footer-tiles{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .landing-tile{
        width: 100%;
        height: 15rem;
        border-right: 1px solid grey;
        padding-left: 2rem;
        padding-right: 40px;
        margin-bottom: 5rem;
    }
    .landing-tile1{
        width: 100%;
        //background-color: aquamarine;
    }
    .landing-tile1 .tileOuter{
        height: 15rem;
        padding-left: 2rem;
        padding-right: 40px;
        border-right: none !important;
        border-bottom: 1px solid grey;
    }
    .landing-tile1:last-child .tileOuter {
        border: none !important;
    }
    .landing-container{
        display: flex;
        flex-direction: column;
        //background-color: aquamarine;
        border: 1.6px solid rgba(255, 255, 255, 0.218);
        height: unset;
        // height: 536px;

    }
    .landing-tabpanel-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: 3px solid var(--verde50);
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 20px;
        height: 26px;
    }
    .landing-tabpanel-left{
        width: 100%;
        //background-color: blue;
    }
    
    .headerPlac {
        width: 100%;
        height: 234px;
    }
    .placeholderMobile {
        display: block;
    }
    .placeholderDesktop {
        display: none;
    }
    .footerPlac {
        border-right: none !important;
        border-bottom: 1px solid grey;
    }
    // .footerPlac {
    //     height: 1600px;
    // }
    .mainSection {
        width: 100%;
        height: 236px;
    }
  }

  .ml-2{ margin-left: 8px;}
  .ml-3{ margin-left: 16px;}
  .cds--modal-footer{display: none;}
  .text-success{color: #066e18;}
  .text-danger{color: #eb1313;}


  .custom-toast-notification {
    position: fixed;
    top: 16px;
    right: 16px;    
    z-index: 9999999999;
  }


 /* KEYFRAMES */

@keyframes spin {
    from {
      transform: rotate(0);
    }
    to{
      transform: rotate(359deg);
    }
  }
  
  @keyframes spin3D {
    from {
      transform: rotate3d(.5,.5,.5, 360deg);
    }
    to{
      transform: rotate3d(0deg);
    }
  }
  
  @keyframes configure-clockwise {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes configure-xclockwise {
    0% {
      transform: rotate(45deg);
    }
    25% {
      transform: rotate(-45deg);
    }
    50% {
      transform: rotate(-135deg);
    }
    75% {
      transform: rotate(-225deg);
    }
    100% {
      transform: rotate(-315deg);
    }
  }
  
  @keyframes pulse {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: .25;
      transform: scale(.75);
    }
  }
  
  /* GRID STYLING */
  
 
  

  
  .spinner-box {
    min-width: 300px;
    max-width: 490px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-bottom: 3rem;
    z-index: 99999;
  }
  
  /* SPINNING CIRCLE */
  
  .leo-border-1 {
    position: absolute;
    width: 150px;
    height: 150px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--verde);
    background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, var(--verde) 100%);
    animation: spin3D 4.8s linear 0s infinite;
  }
  
  .leo-core-1 {
    width: 100%;
    height: 100%;
    background-color: #37474faa;
    border-radius: 50%;
  }
  
  .leo-border-2 {
    position: absolute;
    width: 150px;
    height: 150px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(193, 193, 197);
    background: linear-gradient(0deg, rgba(207, 203, 202, 0.1) 33%, rgb(220, 220, 220) 100%);
    animation: spin3D 9.2s linear 0s infinite;
  }
  
  .leo-core-2 {
    width: 100%;
    height: 100%;
    background-color: #1d2630aa;
    border-radius: 50%;
  }
  
  /* ALTERNATING ORBITS */
  
  .circle-border {
    width: 150px;
    height: 150px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(63,249,220);
    background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgba(63,249,220,1) 100%);
    animation: spin 3.8s linear 0s infinite;
  }
  
  .circle-core {
    width: 100%;
    height: 100%;
    background-color: #1d2630;
    border-radius: 50%;
  }
  
  /* X-ROTATING BOXES */
  
  .configure-border-1 {
    width: 115px;
    height: 115px;
    padding: 3px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid var(--verde);
    animation: configure-clockwise 9s ease-in-out 0s infinite alternate;
  }
  
  .configure-border-2 {
    width: 115px;
    height: 115px;
    padding: 3px;
    left: -115px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transform: rotate(45deg);
    border: 2px solid var(--verde50);

    animation: configure-xclockwise 5.5s ease-in-out 0s infinite alternate;
  }
  
  .configure-core {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  

  
  /* SOLAR SYSTEM */
  
  .solar-system {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .orbit {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #fafbfC;
      border-radius: 50%;
  } 
  
  .earth-orbit {
      width: 165px;
      height: 165px;
    -webkit-animation: spin 12s linear 0s infinite;
  }
  
  .venus-orbit {
      width: 120px;
      height: 120px;
    -webkit-animation: spin 7.4s linear 0s infinite;
  }
  
  .mercury-orbit {
      width: 90px;
      height: 90px;
    -webkit-animation: spin 3s linear 0s infinite;
  }
  
  .planet {
      position: absolute;
      top: -5px;
    width: 10px;
    height: 10px;
      border-radius: 50%;
    background-color: #3ff9dc;
  }
  
  .sun {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: var(--verde);
  }
  
  .leo {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
  }
  
  .blue-orbit {
      width: 165px;
      height: 165px;
    border: 1px solid #91daffa5;
    -webkit-animation: spin3D 3s linear .2s infinite;
  }
  
  .green-orbit {
      width: 120px;
      height: 120px;
    border: 1px solid #91ffbfa5;
    -webkit-animation: spin3D 2s linear 0s infinite;
  }
  
  .red-orbit {
      width: 90px;
      height: 90px;
    border: 1px solid #ffca91a5;
    -webkit-animation: spin3D 1s linear 0s infinite;
  }
  
  .white-orbit {
      width: 60px;
      height: 60px;
    border: 2px solid #ffffff;
    -webkit-animation: spin3D 10s linear 0s infinite;
  }
  
  .w1 {
    transform: rotate3D(1, 1, 1, 90deg);
  }
  
  .w2 {
    transform: rotate3D(1, 2, .5, 90deg);
  }
  
  .w3 {
    transform: rotate3D(.5, 1, 2, 90deg);
  }
  
  .three-quarter-spinner {
    width: 50px;
    height: 50px;
    border: 3px solid #fb5b53;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin .5s linear 0s infinite;
  }